<div class="container mt-2 row gap-3">
  <div class="card col-3" style="width: 16rem">
    <img
      style="height: 110px"
      src="https://png.pngtree.com/element_our/20200609/ourmid/pngtree-healthcare-products-image_2224364.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="text-center card-title">OTC Medicine</h5>
      <p class="card-text">
        Get fast relief with safe and trusted OTC medicines at Omar Medicine &
        Departmental Store.
      </p>
      <a href="#" class="btn btn-primary">Go to view</a>
    </div>
  </div>

  <div class="card col-3" style="width: 16rem">
    <img
      style="width: 200px; height: 110px"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_1nenWaefNEzH3ushHF9Fok2qZgHyAUFX3g&s"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="text-center card-title">Child & Baby Care</h5>
      <p class="card-text">
        Baby products to keep your little one safe and comfortable. Your baby's
        well-being is our priority!
      </p>
      <a href="#" class="btn btn-primary">Go to view</a>
    </div>
  </div>

  <div class="card col-3" style="width: 16rem">
    <img
      style="height: 110px"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsgNV6znF1C9sj1oopTJJQuIf5gzGdAEdI5Q&s"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="text-center card-title">Frozen Product</h5>
      <p class="card-text">
        Get fast relief with safe and trusted OTC medicines at Omar Medicine &
        Departmental Store.
      </p>
      <a href="#" class="btn btn-primary">Go to view</a>
    </div>
  </div>

  <div class="card col-3" style="width: 16rem">
    <img style="height: 110px" src="" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="text-center card-title">OTC Medicine</h5>
      <p class="card-text">
        Get fast relief with safe and trusted OTC medicines at Omar Medicine &
        Departmental Store.
      </p>
      <a href="#" class="btn btn-primary">Go to view</a>
    </div>
  </div>
</div>
