<div class="mt-4">
    <H2>Sales History</H2>
    <h3> Today total sale: {{getTotalSales()}} Taka</h3>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Customer Name</th>
          <th>Contact Number</th>
          <th>Items</th>
          <!-- <th>Unit Price</th> -->
          <th>Total Amount</th>
          <th>Action</th>        
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let sale of salesHistory; let i = index">
          <td>{{ sale.customerName }}</td>
          <td>{{ sale.contactNumber }}</td>
          <td>
            <ul>
              <li *ngFor="let item of sale.items">{{ item.itemName }} (x{{ item.quantity }}) - {{ item.total }}</li>
            </ul>
          </td>
          <td>{{ sale.totalAmount }}</td>
          <td>            
            <button class="btn btn-danger btn-sm" (click)="deleteSale(i)">Return sales</button>
          </td>
        </tr>
      </tbody>

    </table>

  </div>
