<nav class="navbar navbar-expand-lg" style="background-color: #28d9df">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Home </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation">
      
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="add-med"><b>Add Medicine</b></a>
          
        <a class="nav-link active" aria-current="page" href="all-med"><b>Stocks</b></a>

        <a class="nav-link active" aria-current="page" href="invoice-med"><b>Create Invoice</b></a>
        
        <a class="nav-link active" aria-current="page" href="sales-history"><b>Sales-History</b></a>

        <a class="nav-link active" aria-current="page" href="employee"><b>Employee-Management</b></a>
      </div>
    </div>
  </div>
</nav>

