<div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <div class="list-group">
          <a  class="list-group-item list-group-item-action list-group-item-success">
            Fresh & Quality Products
          </a>
          <a class="list-group-item list-group-item-action list-group-item-success">
            Affordable Prices
          </a>
          <a class="list-group-item list-group-item-action list-group-item-success">
            Fast & Reliable Delivery
          </a>
          <a class="list-group-item list-group-item-action list-group-item-success">
            Wide Product Range
          </a>
          <a class="list-group-item list-group-item-action list-group-item-success">
            Customer Satisfaction
          </a>
          <a class="list-group-item list-group-item-action list-group-item-success">
            24/7 Support
          </a>
        </div>
  
      </div>
  
      <div class="col-6">
        <p>Welcome to <b>Omar Medicine & Departmental Store</b>, your trusted destination for all your healthcare and
          daily
          essentials. We are dedicated to providing high-quality medicines, everyday groceries, and household necessities,
          all under one roof. Your health and convenience are our top priorities, ensuring that you receive only the best
          and most reliable products at affordable prices. Whether you need prescription medicines, wellness products, or
          daily essentials, we are here to serve you with care and commitment. Shop with confidence at <b>Omar Medicine &
            Departmental Store—</b>where quality meets convenience!</p>
      </div>
  
      <div>
  
      </div>
    </div>
  </div>
