/* General styling */
body {
    font-family: Arial, sans-serif;    
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container for the count app */
div {
    background-color: #470e0a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Heading styling */
h3 {
    color: #333333;
    margin-bottom: 10px;
}

/* Paragraph styling */
p {
    color: #666666;
    margin-bottom: 20px;
}

/* Link styling */
a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    color: #484d52;
    text-decoration: underline;
}

/* Count display styling */
h2 {
    font-size: 48px;
    color: #8d969e;
    margin: 20px 0;
}

/* Button styling */
button {
    /* background-color: #007bff; */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    
}

/* Specific button styling */
button:active {
    transform: scale(0.98);
}
button.increment {
    background-color: #2f4a37; /* Green */    
}
button.increment:hover {
    background-color: #186294;
}

button.decrement {
    background-color: #913047; /* Green */    
}
button.decrement:hover {
    background-color: #186294;
}
button.reset {
    background-color: #635c02;
}
button.reset:hover {
    background-color: #186294;
}