table{

    width: 80%;
    border-collapse: collapse;
}
th, td{
    border: 1px solid;
    text-align: center;

}
h2{
    text-align: center;
<<<<<<< HEAD
=======
}
body{
    display: flex;
    justify-content: center;
    display: grid;
    margin: 0;
>>>>>>> 21639e5e4d266785d97b4c9cd87c5c9d5d07527c
}