<h2>This is Omar's ComeBack Table</h2>

<!-- <div class="coll-5"></div> if need table put here -->

<table class="table table-bordered p-5 mt-2 ">
    <thead>
        <tr class="table-primary">
            <th>serial</th>
            <th>name</th>
            <th>club</th>
            <th>country</th>
        </tr>        
    </thead>
    <tbody>
        <tr *ngFor="let player of playerArray;let srl = index">
            <td>{{srl+1}}</td>
            <td>{{player.name}}</td>
            <td>{{player.club}}</td>
            <td>{{player.country}}</td>
        </tr>
    </tbody>
</table>