<div class="container mt-5 w-50">
    <h3>Create new user</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.name"
                placeholder="enter your name">
        </div>

        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="number" class="form-control" id="age" name="age" [(ngModel)]="user.age"
                placeholder="enter your age">
        </div>

        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="user.phone"
                placeholder="enter your phone">
        </div>

        <div class="mb-3">
            <label for="address" class="form-label">Address</label>

            <textarea class="form-control" id="address" rows="3" name="address" [(ngModel)]="user.address"></textarea>
        </div>
        <div>

            <button type="submit" class="btn btn-primary" onclick="window.location.href='/user-list'">Submit</button>


        </div>
        <div>




        </div>



    </form>

</div>