<h4>More Special Products</h4>

<!-- <div class="coll-5"></div> if need table put here -->

<table class="table table-bordered p-5 mt-2 ">
    <thead>
        <tr class="table-primary">
            <th>Item id</th>
            <th>Product Name</th>
            <th>Product Type</th>
            <th>Unit Price</th>
        </tr>        
    </thead>
    <tbody>
        <tr *ngFor="let product of productArray; let srl = index">
            <td>{{srl + 1}}</td>
            <td>{{product.name}}</td>
            <td>{{product.type}}</td>
            <td>{{product.price}}</td>
        </tr>
    </tbody>
</table>