h4{
    text-align: center;
    margin-top: 10px;
}
table{

    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}
th, td{
    border: 1px solid;
    text-align: center;

}
body{
    display: flex;
    justify-content: center;
    display: grid;
    margin: 0;

}