<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <div class="list-group">
        <a
          href="#"
          class="list-group-item list-group-item-action list-group-item-primary"
          >Fresh & Quality Products</a
        >
        <a
          href="#"
          class="list-group-item list-group-item-action list-group-item-secondary"
          >Affordable Prices</a
        >
        <a
          href="#"
          class="list-group-item list-group-item-action list-group-item-success"
          >Fast & Reliable Delivery</a
        >
        <a
          href="#"
          class="list-group-item list-group-item-action list-group-item-danger"
          >Wide Product Range</a
        >
        <a
          href="#"
          class="list-group-item list-group-item-action list-group-item-warning"
          >Customer Satisfaction</a
        >
        <a
          href="#"
          class="list-group-item list-group-item-action list-group-item-info"
          >24/7 Support</a
        >
      </div>
    </div>
    <div class="col-9">
      <div class="row row-cols-1 row-cols-md-3 g-4">
                   
              <div class="card" style="width: 18rem;">
                <img src="https://img.freepik.com/premium-photo/close-up-pink-flowers-table_1048944-3412131.jpg?w=900" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Baby Care Products</h5>
                  <p class="card-text">We Provides All kinds of baby Cosmetics, Diapare, paediatrics,
                    Milks etc.</p>
                  <a href="#" class="btn btn-primary">View Details Baby Care Products</a>
                </div>
              </div>
          
        
        <div class="col">
          <div class="card h-100">
            <img
              src="https://img.freepik.com/premium-photo/shopping-cart-with-cosmetic-bottles-with-bright-pink-ribbon-pink-background-copy-space_349071-61.jpg?w=900"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Womens Care</h5>
              <p class="card-text">
                We provides all kinds of foreign & local womens care special
                product.
              </p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary"
                >View Details Womens Care Products -></small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="https://img.freepik.com/premium-photo/red-basket-from-store-many-products-it_244784-1570.jpg?w=826"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Groceries Items..</h5>
              <p class="card-text">
                🛒 "Freshness you can trust, prices you'll love!" 🛍 "Your
                one-stop shop for everyday essentials!".
              </p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">View Detail</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
